<html>
@model MVCDemo.Models.Solutions1
@{
    ViewBag.Title = "PostSolution";
    //Layout = "~/Views/Home/Challenges.cshtml";
}
<body style="background-image: url('../../Images//challen.png'); background-size: cover; color: white">
<br />
<h2>PostSolution</h2>






@using (Html.BeginForm())
{
    <table id ="tblPostSolution" name = "tblPostSolution" width="100%">
        <tr>
            <td>
                @Html.LabelFor(a => a.solution)
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextAreaFor(a => a.solution, new { cols = "1000", rows = "10" })


            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.user)
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(a => a.user)

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.department)
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(a => a.department)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="Submit1" type="submit" value="submit"/>
                <input id="Submit1" type="button" value="Back" onclick="@("window.location.href='" + @Url.Action("Challenges", "Home") + "'");"/>
            </td>
        </tr>
    </table>
    @*<script type="text/javascript">
        function hideTable()
        {
            document.getElementById("tblPostSolution").style.display = 'block';
        }
    </script>*@




    
}
<h2 style="color: firebrick;"><b>@ViewBag.SuccessMessage</b></h2>

</body>
</html>





